.resultBg {
  background-image: url("../../../../assets/website_bg.jpg");
  background-repeat: repeat;
  background-attachment: fixed;
  height: calc(100vh - 80px);
  width: 100%;
  background-size: 300px 300px;
}

.resultBod {
  color: white;
  background-color: #1a1a1a;
  border: 3px solid #1a1a1a;
  border-radius: 8px;
}

.tableWidth {
  width: 100%;
}

.boxBackground {
  background-color: #4d4d4d;
  border: 3px solid #4d4d4d;
  border-radius: 5px;
}

.resultsButton {
  color: white;
  background-color: #2FCF99;
  border: 3px solid #2FCF99;
  border-radius: 10px;
  line-height: 43px;
  min-height: 50px;
  margin-left: 30%;
  margin-right: 30%;
}