.register{
  /* align-content: center; */
  background-image: url("../../../../../assets/blacknwhite_stock3_optimized.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  height: calc(100vh - 80px);
  width: 100%;
  overflow-y: auto;
  /* overflow-y: scroll; */
}

img{
  height: 70px;
  width: auto;
}

img:hover{
  background-color: white;
  border-radius: 5%;
}
