.register{
  align-content: center;
  background-image: url("../../../../../assets/blacknwhite_stock3_optimized.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  height: 100vh;
  overflow: hidden;
  min-width: 1000px;
}
