.register{
  background-image: url("../../../../../assets/blacknwhite_stock3_optimized.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 80px);
  align-content: center;
}

img{
  height: 70px;
  width: auto;
}

img:hover{
  background-color: white;
  border-radius: 5px;
}

.col-centered{
float: none;
margin: 0 auto;
}