<div class="activity-back-dark">
  <div class="mb-3">
    <img class="collapse-icon invert-color mt-2 ml-2 float-left" [ngStyle]="{'transform':showActivity != true ? 'rotate(90deg)' : 'rotate(270deg)'}" src="../../../../assets/right-arrow.png" data-toggle="collapse" data-target="#dataActivity" (click)="toggleActivity()">
    <span class="header-info mr-5">Activities</span>
  </div>
  <div id="dataActivity" class="collapse show">
    <div class="action-activities">
      <span class="float-left ml-4 activity-button" (click)="addActivity()"><img src="../../../../assets/Icons/add_icon.png" class="activity-icon mr-2"> Add Activity</span>
      <input class="activity-search float-right mr-4" [(ngModel)]="searchInput" type="text" placeholder="Search">
    </div>
    <div *ngFor="let activity of activities | filter: searchInput : searchParam; let i = index;">
      <div class="activity-back mx-3 my-1 py-2" data-toggle="collapse" [attr.data-target]="'#' + i">
        <img src="../../../../assets/Icons/calendar_icon.png" class="activity-icon mx-2">
        <span>{{activity.type}} <span *ngIf="activity.contact != null">with {{activity.contact}}</span></span>
        <span class="float-right mr-2 mt-1">{{activity.aDate | date:'EE LLL dd, yyyy'}}</span>
      </div>
      <div class="collapse" [attr.id]="i">
        <div class="activity-info-back row mx-3">
          <div class="col-sm-8 px-0 ml-5 text-left">
            {{activity.description}}
          </div>
          <div class="col-sm-3 px-0">
            <table>
              <tr>
                <td class="text-right">Time: </td>
                <td class="text-left">{{activity.aDate | date:'h:ma'}}</td>
              </tr>
              <tr>
                <td valign="top" class="text-right">Location: </td>
                <td class="text-left">{{activity.location}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>