<div class="activity-back-dark px-2 pb-2">
  <div class="">
    <img class="collapse-icon invert-color mt-2 float-left" [ngStyle]="{'transform':showActivity != true ? 'rotate(90deg)' : 'rotate(270deg)'}" src="../../../../assets/right-arrow.png" data-toggle="collapse" data-target="#dataActivity" (click)="toggleActivity()">
    <span class="header-info ml-3">Activities</span>
    <div class="float-right mt-1">
      <img src="../../../../assets/Icons/green_search_icon.png" class="activity-icon" data-toggle="collapse" data-target="#aSearchTog">
      <img src="../../../../assets/Icons/add_icon.png" class="activity-icon" click="addActivity()">
    </div>
  </div>
  <div id="dataActivity" class="collapse show">
    <div id="aSearchTog" class="collapse mr-2 mb-1">
      <table class="table-width">
        <tr>
          <td align="right"><input class="activity-search" [(ngModel)]="searchInput" type="text" placeholder="Search"></td>
        </tr>
      </table>
    </div>
    <div class="scrollable">
      <div *ngFor="let activity of currentActivities | filter: searchInput : searchParam; let i = index;">
        <div class="activity-back mx-2 my-1 py-2" data-toggle="collapse" [attr.data-target]="'#' + i">
          <table class="table-width">
            <tr>
              <td>
                <img src="../../../../assets/Icons/calendar_icon.png" class="activity-icon mx-2">
                <span>{{activity.type}} <span *ngIf="activity.contact != null">with {{activity.contact}}</span></span>
              </td>
              <td align="right">
                <span class="mr-2">{{activity.aDate | date:'EE LLL dd, yyyy'}}</span>
              </td>
            </tr>
          </table>
        </div>
        <div class="collapse" [attr.id]="i">
          <div class="activity-info-back mx-2">
            <table class="table-width">
              <tr>
                <td class="text-left" rowspan="2">{{activity.description}}</td>
                <td class="text-right">Time: </td>
                <td class="text-left">
                  {{activity.aDate | date:'h:ma'}}
                </td>
              </tr>
              <tr>
                <td valign="top" class="text-right">Location: </td>
                <td class="text-left">{{activity.location}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <span class="header-info">Past Activities</span>
    <div class="scrollable">
      <div *ngFor="let activity of pastActivities | filter: searchInput : searchParam; let i = index;">
        <div class="activity-back mx-2 my-1 py-2" data-toggle="collapse" [attr.data-target]="'#p' + i">
          <table class="table-width">
            <tr>
              <td>
                <img src="../../../../assets/Icons/calendar_icon.png" class="activity-icon mx-2">
                <span>{{activity.type}} <span *ngIf="activity.contact != null">with {{activity.contact}}</span></span>
              </td>
              <td align="right">
                <span class="mr-2">{{activity.aDate | date:'EE LLL dd, yyyy'}}</span>
              </td>
            </tr>
          </table>
        </div>
        <div class="collapse" [attr.id]="'p' + i">
          <div class="activity-info-back mx-2">
            <table class="table-width">
              <tr>
                <td class="text-left" rowspan="2">{{activity.description}}</td>  
                <td class="text-right">Time: </td>
                <td class="text-left">
                  {{activity.aDate | date:'h:ma'}}
                </td>
              </tr>
              <tr>
                <td valign="top" class="text-right">Location: </td>
                <td class="text-left">{{activity.location}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>