<div class="login-container">

  <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
    <div class="form-container">
      <fieldset class="container" id="userInfo">
        <legend>Login to Wayfinder</legend>

        <input class="form-control" type="text" placeholder="email" formControlName="username">
        <input class="form-control" type="password" placeholder="password" formControlName="password">
        <input type="submit" class="btn btn-teal" (click)="login(loginForm)" value="Login">
        <p> Forgot password?</p>
      </fieldset>
    </div>
  </form>


</div>
