.background-container{
  background-image: url("../../../../assets/blacknwhite_stock3_optimized.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 80px);
  align-content: center;
}

.login-container {
  background-color: rgba(255, 255, 255, .7);
  border-radius: 5px;
  padding: 10px;
  height: auto;
}

.input-group-text{
  background-color: #263238;
  color: #b0bec5;
  border: 3px solid #263238;
}

.btn-teal{
  background-color: #2FCF99;
  width: 100%;
}

.btn-teal:hover{
  background-color: white;
  width: 100%;
}

.inline-png{
  height: 23px;
  filter: invert(80%);
}

