<div class="background-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col"></div>
      <div class="col-10 col-sm-8 col-md-6 col-lg-4 mt-5">
        <div class="login-container">
          <form [formGroup]="loginForm">
            <div class="form-container px-4 py-2">
              <fieldset class="container" id="userInfo">
                <legend>Login to Wayfinder</legend>

                <input class="form-control mt-2" type="text" autocomplete="on" placeholder="email" formControlName="username">
                <input class="form-control mt-2" type="password" placeholder="password" formControlName="password">
                <input type="submit" class="btn btn-teal mt-2" (click)="loginRequest(loginForm.value)" value="Login">
                <a><span class="mt-2">Forgot password?</span></a>
                <div class="mt-2">{{errorMessage}}</div>
              </fieldset>
            </div>
          </form>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>
</div>
