.nrm-body {
  background-image: url("../../../../assets/repeating-image.jpg");
  background-repeat: repeat;
  background-attachment: fixed;
  height: calc(100vh - 80px);
  width: 100%;
  background-size: 500px 500px;
  overflow-y: auto;
}
