.nrm-body{
  background-image: url("../../../../assets/blacknwhite_stock3_optimized.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  height: calc(100vh - 80px);
  width: 100%;
}