<div class="background-pic">
    <div class="container-fluid">
        <div class="row width-84">
            <div class="col-sm-4">
                <div class="teal-background">
                    <div><img class="icon-format-large" src="../../../assets/user-icon.png"/></div>
                    <span class="header-text">Next Steps</span>
                    <div>
                        Content
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="teal-background">
                    <div><img class="icon-format-large" src="../../../assets/user-icon.png"/></div>
                    <span class="header-text">Networking Metrics</span>
                    <div>
                        Content
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="teal-background">
                    <div><img class="icon-format-large" src="../../../assets/user-icon.png"/></div>
                    <span class="header-text">Calander Reminders</span>
                    <div>
                        Content
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">Modules</div>
            <div class="col-sm-6">My Tools</div>
        </div>
    </div>
</div>