<div class="background-pic">
  <div class="container-fluid">
    <div class="row width-90">
      <div class="col-sm-4 mt-3">
        <div class="teal-background-dark">
          <table class="w-100">
            <tr>
              <td><img class="icon-format-large my-2" src="../../../assets/Icons/road_icon.png"/></td>
            </tr>
            <tr class="mx-2">
              <td><span class="header-text">Next Steps</span></td>
            </tr>
            <tr>
              <td>
                <div class="teal-background-light p-2">
                  <ng-container  *ngIf="takenQuiz">
                     <div *ngFor="let module of moduleService.modules; let i = index;">
                    <div *ngIf="(module.recommended || module.interested) && (i < 3)" class="py-1 toolsIcon">
                      <span (click)="goToModule(module.mod_id)"><img class="icon-format-small" src="../../../assets/Icons/circle.png"/>Module {{module.module_number}}</span>
                    </div>
                  </div>
                  </ng-container>
                  <div *ngIf="!takenQuiz">Take quiz to access modules!</div>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="col-sm-4 mt-3">
<!--        Networking Metrics       -->
        <div class="teal-background-dark">
          <table class="w-100">
            <tr>
              <td><img class="icon-format-large my-2" src="../../../assets/Icons/stats_icon.png"/></td>
            </tr>
            <tr class="mx-2">
              <td><span class="header-text">Networking Metrics</span></td>
            </tr>
            <tr>
              <td>
                <div class="teal-background-light p-2">
                  <div class="py-1">Coming soon!</div>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
<!--      Calander stuff       -->
      <div class="col-sm-4 mt-3">
        <div class="teal-background-dark">
          <table class="w-100">
            <tr>
              <td><img class="icon-format-large my-2" src="../../../assets/Icons/calendar_icon.png"/></td>
            </tr>
            <tr class="mx-2">
              <td><span class="header-text">Calander Reminders</span></td>
            </tr>
            <tr>
              <td>
                <div class="teal-background-light p-2">
                  <ng-container *ngIf="nrmService.allActivities">
                    <div *ngFor="let activity of nrmService.allActivities; let i = index;">
                      <div *ngIf="(activity.event_date > todaysMilli) && (i < 3)" class="py-1">
                        <img class="icon-format-small" src="../../../assets/Icons/circle.png"/>{{activity.activity_name}} at {{activity.event_date | date:'EE LLL dd, yyyy'}}
                      </div>
                    </div>
                  </ng-container>
                  <div *ngIf="!nrmService.allActivities"> No Future Activities!</div>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="row fixed-bottom">
      <div class="col-sm-12 col-md-6 dark-background px-0 py-3">
        <div><h2>Modules</h2></div>
        <div *ngIf="!takenQuiz">
          Please take the quiz to access your modules!
          <div class="intro-button mt-3 mb-4" (click)="takeQuiz()">TAKE QUIZ</div>
        </div>
        <div *ngIf="takenQuiz">
          <span class="module-button" *ngFor="let module of moduleService.modules;">{{module.module_number}}</span>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 dark-background px-0 py-3">
        <div><h2>My Tools</h2></div>
        <div>
          <table class="w-100">
            <tr>
              <td width="30%" class="toolsIcon" (click)="goToPage('/calendar')">
                <div>Calendar</div>
                <div><img src="../../../assets/Icons/calendar_icon.png" class="icon-format-large"></div>
              </td>
              <td width="30%" class="toolsIcon" (click)="goToPage('/statistics')">
                <div>Stat Tracker</div>
                <div><img src="../../../assets/Icons/stats_icon.png" class="icon-format-large"></div>
              </td>
              <td width="30%" class="toolsIcon" (click)="goToPage('/nrm')">
                <div>Contact Manager</div>
                <div><img src="../../../assets/Icons/phone_icon.png" class="icon-format-large"></div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
