.overviewBg {
  background-image: url("../../../../assets/website_bg.jpg"); 
  width: 100%;
  height: calc(100vh - 80px);
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: 300px 300px;
  overflow-y: auto;
}

.moduleBoxComplete {
  color: white;
  background-color: #333;
  border: 3px solid #333;
  border-radius: 9px;
  min-height: 35vh;
}

.moduleBox {
  color: white;
  background-color: #333;
  border: 3px solid #2FCF99;
  border-radius: 9px;
}

.tableHeight {
  min-height: 35vh;
}

.textHead {
  font-size: 48px;
}

.modButton {
  color:white;
  text-decoration: none;
  background-color: #2FCF99;
  border: 3px solid #2FCF99;
  border-radius: 5px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.modButton:hover {
  cursor: pointer;
  border: 3px solid white;
}

.modNum {
  font-size: 78px;
}

.modName {
  font-size: 24px;
  text-align: left;
}

.modDes {
  font-size: 14px;
  text-align: left;
}

.starIcon {
  width: 40px;
  height: 40px;
}

.starIcon:hover {
  cursor: pointer;
}