<div class="container-fluid overviewBg">
  <span class="textHead">My Plan</span>
  <div class="row">
    <ng-container *ngFor="let module of moduleService.modules">
      <div *ngIf="module.recommended || module.interested" class="col-sm-6 col-md-4 py-4">
        <div [ngClass]="module.completed ? 'moduleBoxComplete' : 'moduleBox'" class="p-2">
          <table class="w-100 tableHeight">
            <tr valign="top">
              <td rowspan="2">
                <span class="modNum mx-2">{{module.module_number}}</span>
              </td>
              <td>
                <div *ngIf="(module.interested && !module.recommended)" class="float-right" (click)="setInterested(module.mod_id, 0)"><img src="../../../../assets/Icons/filled_star.png" class="starIcon"> </div>
                <div *ngIf="(!module.interested && !module.recommended)"class="float-right" (click)="setInterested(module.mod_id, 1)"><img src="../../../../assets/Icons/outline_star.png" class="starIcon"></div>
                <div class="modName">
                  {{module.module_name}}
                </div>
              </td>
            </tr>
            <tr valign="bottom">
              <td>
                <div class="modDes">
                  This is a test description that I will use for now. It is quite long, and I don't like it. This module will help you learn blah blah blah it's really great click below now har har.
                </div>
              </td>
            </tr>
            <tr>
              <td valign="bottom" colspan="2">
                <div class="modButton" (click)="goToModule(module.mod_id)">Go To Module</div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </ng-container>
  </div>
  <span class="textHead">Other Modules</span>
  <div class="row">
    <ng-container *ngFor="let module of moduleService.modules">
      <div *ngIf="!module.recommended && !module.interested" class="col-sm-6 col-md-4 py-4">
        <div [ngClass]="module.completed ? 'moduleBoxComplete' : 'moduleBox'" class="p-2">
          <table class="w-100 tableHeight">
            <tr valign="top">
              <td rowspan="2">
                <span class="modNum mx-2">{{module.module_number}}</span>
              </td>
              <td>
                <div *ngIf="!module.interested" class="float-right" (click)="setInterested(module.mod_id, 1)"><img src="../../../../assets/Icons/outline_star.png" class="starIcon"></div>
                <div class="modName">
                  {{module.module_name}}
                </div>
              </td>
            </tr>
            <tr valign="bottom">
              <td>
                <div class="modDes">
                  This is a test description that I will use for now. It is quite long, and I don't like it. This module will help you learn blah blah blah it's really great click below now har har.
                </div>
              </td>
            </tr>
            <tr>
              <td valign="bottom" colspan="2">
                <div class="modButton" (click)="goToModule(module.mod_id)">Go To Module</div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </ng-container>
  </div>
</div>