<div class="testin">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-5 text-left">
        <span class="intro-text">YOUR GUIDE TO FINDING INTERNSHIPS</span>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-5 text-left">
        <span class="intro-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet enim sed lacus consectetur cursus eget sed felis. Mauris egestas est eget consequat molestie. Ut at tellus ac lacus mattis efficitur. Nunc metus ex, molestie quis condimentum sit amet, aliquet sit amet nisl. Pellentesque accumsan nisi sit amet ante lacinia, eget venenatis enim cursus. Donec sollicitudin augue eget varius luctus.</span>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-sm-1"></div>
      <div class="col-sm-5">
        <div class="intro-button">TAKE QUIZ</div>
      </div>
    </div>
    <div class="row bottom-banner mt-5">
      <div class="col-sm-12 col-md-12 col-lg-2"></div>
      <div class="col-sm-6 col-md-6 col-lg-2 mt-3 mb-3">
        <div><img class="icon-format" src="../../../assets/user-icon.png"/></div>
        <div class="medium-text mb-1">Personalized</div>
        <div class="small-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-2 mt-3 mb-3">
        <div><img class="icon-format" src="../../../assets/map-marker-icon.png"/></div>
        <div class="medium-text mb-1">Clear Map</div>
        <div class="small-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-2 mt-3 mb-3">
        <div><img class="icon-format" src="../../../assets/time-icon.png"/></div>
        <div class="medium-text mb-1">Quick Application</div>
        <div class="small-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-2 mt-3 mb-3">
        <div><img class="icon-format" src="../../../assets/briefcase.png"/></div>
        <div class="medium-text mb-1">Networking Tools</div>
        <div class="small-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-2"></div>
    </div>
  </div>
</div>
