<div class="register-container">
  <div>
    <form [formGroup]="rForm" (ngSubmit)="registerUser(rForm.value)">
      <div class="form-container">
        <fieldset class="container" id="userInfo">
          <legend>Register For Joyful Networking</legend>


          <div class="form-group">
            <input class="form-control" [ngClass]="{'is-invalid': !rForm.controls['firstname'].valid && rForm.controls['firstname'].touched}" id="firstNameInput" placeholder="First Name" type="text" formControlName="firstname">
            <input class="form-control" [ngClass]="{'is-invalid': !rForm.controls['lastname'].valid && rForm.controls['lastname'].touched}" placeholder="Last Name" type="text" formControlName="lastname">

            <!-- <label class="sr-only" for="emailInput">Email</label> -->
            <input class="form-control" [ngClass]="{'is-invalid': !rForm.controls['email'].valid && rForm.controls['email'].touched}" id="emailInput" placeholder="Email" type="email" formControlName="email">



            <input class="form-control" [ngClass]="{'is-invalid': matchPass()}" placeholder="Password" type="password" formControlName="password">
            <input class="form-control" [ngClass]="{'is-invalid': matchPass()}" placeholder="Confirm Password" type="password" formControlName="confirmPass">
          </div>
          <br/>

          <input type="submit" class="btn btn-teal" value="Submit Form">

        </fieldset>
        <!--<form action="" method="POST">-->
        <!--<script-->
        <!--src="https://checkout.stripe.com/checkout.js" class="stripe-button"-->
        <!--data-key="pk_test_6pRNASCoBOKtIshFeQd4XMUh"-->
        <!--data-amount="999"-->
        <!--data-name="Stripe.com"-->
        <!--data-description="Widget"-->
        <!--data-image="https://stripe.com/img/documentation/checkout/marketplace.png"-->
        <!--data-locale="auto"-->
        <!--data-zip-code="true">-->
        <!--</script>-->
        <!--</form>-->

      </div>

    </form>
  </div>

</div>
