<div class="register-container rounded">
  <div>
    <form [formGroup]="rForm" (ngSubmit)="submitUserInfo(rForm.value)">
      <div class="py-3">
        <fieldset id="userInfo">
          <legend class="font-weight-bold">Register For Wayfinder</legend>


          <div class="px-3 mb-3">

            <div class="form-group text-left font-weight-bold">
              <label class="pl-1" for="firstname">First Name</label>
              <input class="form-control" [ngClass]="{'is-invalid': invalidInput('firstname')}" id="firstname" placeholder="John" type="text" formControlName="firstname">
              <div class="invalid-feedback" ng-show="invalidInput('firstname')">
                *Please enter your first name
              </div>
            </div>

            <div class="form-group text-left font-weight-bold">
              <label class="pl-1" for="lastname">Last Name</label>
              <input class="form-control" [ngClass]="{'is-invalid': invalidInput('lastname')}" id="lastname" placeholder="Doe" type="text" formControlName="lastname">
            </div>

            <div class="form-group text-left font-weight-bold">
              <label class="pl-1" for="emailInput">Email</label>
              <input class="form-control" [ngClass]="{'is-invalid': invalidInput('email')}" id="emailInput" placeholder="johndoe@email.com" type="email" formControlName="email">
              <div class="invalid-feedback" ng-show="invalidInput('email')">
                *Please provide a valid email
              </div>
            </div>

            <div class="form-group text-left font-weight-bold">
              <label class="pl-1" for="password">Password</label>
              <input class="form-control" [ngClass]="{'is-invalid': matchPass()}" id="password" placeholder="Password" type="password" formControlName="password">
              <input class="form-control" [ngClass]="{'is-invalid': matchPass()}" placeholder="Confirm Password" type="password" formControlName="confirmPass">
              <div class="invalid-feedback" ng-show="matchPass()">
                *Passwords must match!
              </div>
            </div>
            <input type="submit" class="btn btn-teal pr-5 pl-5" value="Submit Form">
          </div>
        </fieldset>
        <!--<form action="" method="POST">-->
        <!--<script-->
        <!--src="https://checkout.stripe.com/checkout.js" class="stripe-button"-->
        <!--data-key="pk_test_6pRNASCoBOKtIshFeQd4XMUh"-->
        <!--data-amount="999"-->
        <!--data-name="Stripe.com"-->
        <!--data-description="Widget"-->
        <!--data-image="https://stripe.com/img/documentation/checkout/marketplace.png"-->
        <!--data-locale="auto"-->
        <!--data-zip-code="true">-->
        <!--</script>-->
        <!--</form>-->

      </div>

    </form>
  </div>

</div>
