<div class="contact-list">
  <div class="container-fluid">
    <div class="row">
      
        <div class="col-sm-5 px-0 pl-1">
          <span class="list-name">Contacts</span>
        </div>
        <div class="col-sm-7 px-0 pt-2">
          <img class="icon-small" src="../../../../assets/Icons/green_search_icon.png" data-toggle="collapse" data-target="#searchTog">
          <img class="icon-small" src="../../../../assets/sort-green.png" data-toggle="collapse" data-target="#sortTog">
          <img class="icon-small" (click)="createContact()" src="../../../../assets/Icons/add_icon.png">
        </div>
      
    </div>
  </div>
  
  <div class="px-3">
    <div id="searchTog" class="collapse">
      <input class="search-input px-1 mb-2" type="text" [(ngModel)]="searchInput" placeholder="Search">
    </div>
  </div>
  <div id="sortTog" class="collapse">
    <table class="testWidth">
      <tr>
        <td align="right"><span class="sortByText">Sort By: </span></td>
        <td align="left">
          <select class='select-option' required [(ngModel)]='optionSelected' (ngModelChange)='onOptionsSelected($event)'>
            <option class='option' *ngFor='let option of options' [value]="option.name">{{option.show}}</option>
          </select>
        </td>
      </tr>
    </table>
  </div>
  <table class="tableList mt-2">
    <tr *ngFor="let contact of contactList | filter: searchInput : searchParam">
      <td class="align-content-center" (click)=nrmService.selectContact(contact)>
        <div class="row mx-0">
          <div class="col-3 px-0"><img class="icon-medium" src="../../../../assets/green_user_icon.png"></div>
          <div class="col-7 px-0">
            <div class="cont-name" *ngIf="optionSelected != 'lName'">{{contact.firstname}} {{contact.lastname}}</div>
            <div class="cont-name" *ngIf="optionSelected == 'lName'">{{contact.lastname}}, {{contact.firstname}}</div>
            <div class="cont-company">{{contact.organization}}</div>
          </div>
          <div class="col-2 px-0"><img class="arrow-icon" src="../../../../assets/right-arrow.png"></div>
        </div>
      </td>
    </tr>
  </table>
</div>