.contact-list {
  background-color: #343434;
  border: 0px solid #343434;
  border-radius: 0px 9px 9px 0px;
  height: calc(100vh - 104px);
  color:white;
}

.list-name {
  min-height: 50px;
  line-height: 48px;
  font-size: 30px;
}

.search-input {
  width: 100%;
  border: 3px solid #2FCF99;
  border-radius: 6px;
}

.testWidth {
  width: 100%;
}

.collapsing {
  width: 100%;
}

.sortByText {
  line-height: 25px;
}

.tableList {
  width: 100%;
}

.tableList tr:nth-child(even){
  background-color: #1a1a1a;
}

.tableList tr:nth-child(odd){
  background-color: #343434;
}

.tableList tr:hover {
  background-color: dimgrey;
  cursor: pointer;
}

.icon-small {
  height: 35px;
  width: 35px;
}

.icon-small:hover {
  cursor: pointer;
}

.icon-medium {
  height: 50px;
  width: 50px;
}

.arrow-icon {
  height: 30px;
  width: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  filter: invert(100%);
}

.cont-name {
  color: white;
  text-align: left;
  font-size: 20px;
}

.cont-company {
  color: white;
  text-align: left;
  font-size: 10px;
  line-height: 8px;
}