<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title text-center">{{message}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body" *ngIf="title === 'contact'">
    <div class="form-group ml-2 mr-2">

      <form [formGroup]="contactInfo" (ngSubmit)="createContact(contactInfo.value)">
        <input class="form-control" type="text" [(ngModel)]="contact.firstname" placeholder="Contact First Name" formControlName="fName">
        <input class="form-control" type="text" [(ngModel)]="contact.lastname" placeholder="Contact Last Name" formControlName="lName">
        <input class="form-control" type="text" [(ngModel)]="contact.organization" placeholder="Organization" formControlName="org">
        <input class="form-control" type="text" [(ngModel)]="contact.url_linkedin" placeholder="Contacts Website or LinkedIn URL" formControlName="url">
        <input class="form-control" type="text" [(ngModel)]="contact.email" placeholder="Contact Email Adress" formControlName="email">
        <input class="form-control" type="text" [(ngModel)]="contact.position" placeholder="Contact Position (in Company)" formControlName="position">
        <input class="form-control" type="text" [(ngModel)]="contact.mail_address" placeholder="Contact Address" formControlName="address">
        <input class="form-control" type="text" [(ngModel)]="contact.phone" placeholder="Contact Phone Number" formControlName="phone">
        <textarea class="form-control" type="text" [(ngModel)]="contact.notes" placeholder="Contact Notes" formControlName="notes"></textarea>

        <button type="button" class="btn btn-outline-primary mt-2" (click)="editContact(contactInfo.value)" *ngIf="edit">Save</button>
        <button type="button" class="btn btn-outline-primary mt-2" (click)="createContact(contactInfo.value)"*ngIf="!edit">Create Contact</button>
      </form>
    </div>
  </div>
  <div class="modal-body" *ngIf="title === 'activity'">
    <div class="row">
      <p>This will show if it is an activity modal</p>
      <form [formGroup]="activityInfo" (ngSubmit)="createActivity(activityInfo.value)">
        <input class="form-control col-lg-12" type="text" placeholder="Contact First Name" formControlName="aName">
        <input class="form-control col-lg-12" type="text" placeholder="Organization" formControlName="org">
        <input class="form-control col-lg-12" type="text" placeholder="Contacts Website or LinkedIn URL" formControlName="url">
        <textarea class="form-control col-lg-12" type="text" placeholder="Activity Notes" formControlName="aNotes"></textarea>

        <button type="button" class="btn btn-outline-primary" (click)="createContact(contactInfo.value)" *ngIf="edit">Save</button>
        <button type="button" class="btn btn-outline-primary" (click)="createContact(contactInfo.value)"*ngIf="!edit">Create Activity</button>
      </form>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
  </div>
</div>
