.bg-navbar-color {
	background-color: #343434;
}

.bg-navbar-color .navbar-nav > .active > a,
.bg-navbar-color .navbar-nav > .active > a:hover,
.bg-navbar-color .navbar-nav > .active > a:focus {
	background-color: #2FCF99;
}

.navbar {
    padding-top: 0;
    padding-bottom: 0;
    min-height: 80px;
  }
  
.logoFormat {
	height: 45px;
	width: 45px;
}

.logoHolder {
    padding-top: 18px;
    padding-bottom: 17px;
    border-radius: 0;
}

.header-text {
	font-size: 26px;
	vertical-align: middle;
}