<nav class="navbar navbar-expand-md navbar-dark bg-navbar-color">
  <a class="logoHolder navbar-brand" [routerLink]="['home']"><img class="logoFormat" src="assets/logo.png"> <span class="header-text">WAYFINDER</span></a>
  <button (click)="toggleCollapse()"class="navbar-toggler hidden-sm-up" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [class.show]="show">
    <ul class="navbar-nav ml-auto nav-pills">
      <li class="nav-item"  [routerLinkActive]="['active']">
        <a class="nav-link testin" [routerLink]="['home']">Home</a>
      </li>
      <li class="nav-item"  [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['module-test']">Modules</a>
      </li>
      <li class="nav-item"  [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['tools']">Tools</a>
      </li>
      <li class="nav-item"  [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['login']">Login</a>
      </li>
      <li class="nav-item"  [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['register']">Register</a>
      </li>
    </ul>	
  </div>
</nav>
