<nav class="navbar navbar-expand-md navbar-dark bg-navbar-color">
  <a class="logoHolder navbar-brand" [routerLink]="['home']"><img class="logoFormat" src="assets/logo.png"> <span class="header-text">WAYFINDER</span></a>
  <button (click)="toggleCollapse()"class="navbar-toggler hidden-sm-up" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [class.show]="show">
    <app-head-in *ngIf="httpService.getJWT()"></app-head-in>
    <app-head-out *ngIf="!httpService.getJWT()"></app-head-out>
  </div>
</nav>
