<div class="info-back-dark px-2 pb-2">
  <img class="collapse-icon invert-color mt-2 float-left" [ngStyle]="{'transform':showInfo != true ? 'rotate(90deg)' : 'rotate(270deg)'}" src="../../../../assets/right-arrow.png" data-toggle="collapse" data-target="#dataInfo" (click)="toggleInfo()">
  <span class="header-info">Contact Info</span>
  <button class="mt-2 float-right edit-button" (click)="openModal(nrmService.contactInfo.c_info)">Edit</button>
  <div id="dataInfo" class="collapse show info-back">
    <div class="row">
      <div class="col-sm-6">
        <div>
          <h1>{{nrmService.contactInfo.c_info.firstname}} {{nrmService.contactInfo.c_info.lastname}}</h1>
        </div>
        <div class="text-left ml-2">
          {{nrmService.contactInfo.c_info.notes}}
        </div>
      </div>
      <div class="col-sm-6">
        <table class="text-left">
          <tr>
            <div class="mt-3 mb-1">
              <td><img src="../../../../assets/Icons/person_icon.png" class="icon-info-small mr-3"></td>
              <td>{{nrmService.contactInfo.c_info.position}} at {{nrmService.contactInfo.c_info.organization}}</td>
            </div>
          </tr>
          <tr>
            <div class="my-1">
              <td><img src="../../../../assets/Icons/black_email_icon.png" class="icon-info-small mr-3 invert-color"></td>
              <td>{{nrmService.contactInfo.c_info.email}}</td>
            </div>
          </tr>
          <tr>
            <div class="my-1">
              <td><img src="../../../../assets/Icons/phone_icon_white.png" class="icon-info-small mr-3"></td>
              <td>{{nrmService.contactInfo.c_info.phone}}</td>
            </div>
          </tr>
          <tr>
            <div class="my-1">
              <td><img src="../../../../assets/Icons/road_icon_white.png" class="icon-info-small mr-3"></td>
              <td>{{nrmService.contactInfo.c_info.mail_address}}</td>
            </div>
          </tr>
          <tr>
            <div class="mt-1 mb-3">
              <td><img src="../../../../assets/Icons/toolbox_icon.png" class="icon-info-small mr-3"></td>
              <td>{{nrmService.contactInfo.c_info.url_linkedin}}</td>
            </div>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
